@page
@model ScriptureJournal.Pages.JournalEntries.IndexModel

@{
    ViewData["Title"] = "Journal Entries";
}

<h1 class="page_title_entries">Your Journal Entries</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <h2>Search</h2>
    <p>
        <select asp-for="EntryBook" asp-items="Model.Books">
            <option value="">All</option>
        </select>
        Keyword: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                @Html.DisplayNameFor(model => model.JournalEntry[0].EntryDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.BookSort">Scripture</a>
            </th>
            <th>
              
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalEntry[0].Entry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JournalEntry) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book) @Html.DisplayFor(modelItem => item.Chapter):@Html.DisplayFor(modelItem => item.Verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Scripture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entry)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
